@import '../../utils/variables.scss';

// ---------- VARIABLES ---------- //

$shadow-clr: rgba(0, 0, 0, 0.10);

// ------ SIZES -------- //
$card-spacer: 8px;

$card-width: 272px;
$card-padding: 32px;

$card-img-width: 208px;
$card-img-height: 196px;

// ----- MIXINS ----- //

@mixin square ($string) {
    width: $string;
    height: $string;
}

// -------------------- CARD COMPONENT ---------------------- //
.fav__content {
  display: flex;
  max-width : 100%;
  flex-wrap: wrap;
  gap: 17px;

}
