.fav__sum {
    width: 100%;
    &-text {
        font-size: 14px;
        line-height: 21px;
        align-self: flex-start;
        font-weight: 600;
        color: #89939A;
        margin-bottom: 40px;
        text-decoration: none;
    }
}