@import '../../../utils/variables.scss';

.main {
  margin: 0 152px 152px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  gap: 64px;

  &__line{
    border-top: solid 1px $elements-color;
    margin-bottom: 26px;
  };

  &__line--small{
    margin-top: 24px;
  }

  &__section-option{
    max-width: 320px;
  }
}
