.cart-card {
  height: 128px;
  width: 752px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  border: 1px solid #b4bdc3;
  border-radius: 16px;
}

.cart-card-mobileOne {
  display: flex;
  align-items: center;
}

.cart-card-mobileTwo {
  display: flex;
  align-items: center;
}

.cart-card-iconBox {
  width: 16px;
  height: 16px;
  margin: 0 24px;
}

.cart-card-iconButton {
  background-color: transparent;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.cart-card-icon {
  width: 10px;
  height: 10px;
  margin: 3px;
}

.cart-card-photoBox {
  height: 80px;
  width: 80px;
}

.cart-card-photo {
  height: 66px;
  width: 66px;
  margin: 7px;
}
.cart-card-nameBox {
  width: 336px;
  margin: 0 24px;
}

.cart-card-name {
  align-self: start;
  text-decoration: none;
  list-style: none;
  line-height: 21px;
  font-size: 14px;
  font-weight: 600;
  color: #0f0f11;
  margin: 0;
}

.cart-card-amount {
  display: flex;
  align-items: center; /* Wyśrodkowanie wertykalne */
  width: 96px;
  height: 32px;
  margin: 48px 0;
}

.cart-card-amount-iconBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  border: solid 1px #b4bdc3;
  border-radius: 48px;
}

.cart-card-amount-icon {
  width: 16px;
  height: 16px;
  margin: 8px;
}

.cart-card-amount-numBox {
  width: 32px;
  height: 32px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.cart-card-amount-num {
  text-align: center;
  width: 32px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  margin: auto;
}

.cart-card-priceBox {
  width: 80px;
  height: 31px;
  margin: 48.5px 24px;
  display: flex;
  align-items: center;
}

.cart-card-price {
  font-weight: 800;
  font-size: 22px;
  justify-self: end;
}

@media screen and (min-width: 641px) and (max-width: 1199px) {
  .cart-card {
    height: 128px;
    width: 592px;
  }

  .cart-card-nameBox {
    width: 176px;
  }

  .cart-card-name {
    line-height: 21px;
    font-size: 14px;
    font-weight: 600;
    color: #0f0f11;
  }

  .cart-card-amount {
    display: flex;
    align-items: center; /* Wyśrodkowanie wertykalne */
    width: 96px;
    height: 32px;
    margin: 48px 0;
  }
}

@media screen and (max-width: 640px) {
  .cart-card {
    height: 160px;
    width: 288px;
    display: block;
    margin-bottom: 16px;
    align-items: center;
    border: 1px solid #b4bdc3;
    border-radius: 16px;
  }

  .cart-card-mobileOne {
    width: 256px;
    height: 80px;
    margin: 16px;
    display: flex;
    align-items: center;
  }

  .cart-card-iconBox {
    width: 16px;
    height: 16px;
    margin: 0;
  }

  .cart-card-iconButton {
    background-color: transparent;
    border: none;
  }

  .cart-card-icon {
    width: 10px;
    height: 10px;
    margin: 3px;
  }

  .cart-card-photoBox {
    height: 80px;
    width: 80px;
    margin: 8.5px 16px;
  }

  .cart-card-photo {
    height: 66px;
    width: 66px;
    margin: 7px;
  }

  .cart-card-nameBox {
    width: 128px;
    margin: 0;
  }

  .cart-card-name {
    align-self: start;
    list-style: none;
    line-height: 21px;
    font-size: 14px;
    font-weight: 600;
    color: #0f0f11;
    margin: 0;
  }

  .cart-card-mobileTwo {
    width: 256px;
    height: 32px;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
    margin-top: 0;
  }

  .cart-card-amount {
    display: flex;
    align-items: center; /* Wyśrodkowanie wertykalne */
    width: 96px;
    height: 32px;
    margin: 0;
    margin-right: 109px;
  }

  .cart-card-amount-iconBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    border: solid 1px #b4bdc3;
    border-radius: 48px;
  }

  .cart-card-amount-icon {
    width: 16px;
    height: 16px;
    margin: 8px;
  }

  .cart-card-amount-numBox {
    width: 32px;
    height: 32px;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .cart-card-amount-num {
    text-align: center;
    width: 32px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 600;
    margin: auto;
  }

  .cart-card-priceBox {
    width: 51px;
    height: 31px;
    display: flex;
    align-items: center;
    margin: 0;
  }

  .cart-card-price {
    font-weight: 800;
    font-size: 22px;
    justify-self: end;
  }
}
