@import './components/__map';
@import './components/__itemList';
@import './components/__pagination';
@import './components/__title';

.breadcrumps_div2{
  max-width: 1200px;
  

  

  grid-row: 1/2;
  grid-column: 1/5;
  align-items: center;
}

.Phones__main {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 24px 24px 41px 8px 21px 32px minmax(59px, 70px) 24px 1fr 24px 32px;
  grid-auto-flow: column;
  column-gap: 16px;
  justify-content: center;
  row-gap: 0;
  box-sizing: border-box;

  padding: 24px 16px 64px;

  @media (min-width: 640px) {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 24px 40px 56px 8px 21px 40px minmax(59px, 70px) 24px 1fr 40px 32px;
    padding: 24px 24px 64px;
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(24, 32px);
    grid-template-rows: 24px 40px 56px 8px 21px 40px minmax(59px, 70px) 24px 1fr 40px 32px;
    padding: 24px 32px 80px;
  }
}

.Phones__title {
  height: 100%;
  box-sizing: border-box;
  color: #0f0f11;
  justify-content: center;
  font-size: 32px;
  font-weight: 800;
  line-height: 41px;
  letter-spacing: -0.01em;
  text-align: left;

  grid-area: 3/1/4/5;

  @media (min-width: 640px) {
    grid-area: 3/1/4/13;
   
    font-size: 48px;

    line-height: 56px;
    letter-spacing: -0.01em;
  }

  @media (min-width: 1200px) {
    grid-area: 3/1/4/25;

    
    font-size: 48px;

    letter-spacing: -0.01em;
  }
}

.Phones__modelsCount {
  height: 100%;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  grid-area: 5/1/6/5;

  color: #89939a;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;

  @media (min-width: 640px) {
    grid-area: 5/1/6/13;
  }

  @media (min-width: 1200px) {
    grid-area: 5/1/6/25;
  }
}

.Phones__sortByField {
  height: 59px;
  box-sizing: border-box;
  grid-area: 7/1/8/3;
  color: #89939A;
  font-weight: 700;
  place-items: center;
  justify-content: center;
  justify-items: center;
  min-width: 200px;
  margin-right: 20px;

  @media (min-width: 640px) {
    grid-area: 7/1/8/5;
  }

  @media (min-width: 1200px) {
    grid-area: 7/1/8/5;
  }

  &-input {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #b4bdc3;
    padding: 10px 12px 12px 9px;
  }
}

.Phones__itemsOnPageField {
  height: 59px;
  box-sizing: border-box;
  grid-area: 7/3/8/5;
  color: #89939A;
  font-weight: 700;
  place-items: center;
  justify-content: center;
  justify-items: center;
  min-width: 200px;
  

  &-label {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    margin-bottom: 4px;
  }
  &-dropdown {
    width: 128px;
    height: 40px;
    font-size: 14px;
    line-height: 21px;
    color:  #0f0f11 ;
    font-weight: 600;
    border: 2px solid #89939A;
    border-radius: 8px;
  &-option {
    font-weight: 600;
    color: #89939A;
    &:hover {
      background-color: transparent;
      color: #0f0f11;
    }
  }
  }


  @media (min-width: 640px) {
    grid-area: 7/5/8/8;
  }
  @media (min-width: 1200px) {
    grid-area: 7/6/8/8;
  }
}

.selectButton {
  width: 100%;
  
  height: auto;
  padding: 10px;
  border: 2px solid #89939A;
  border-radius: 8px;
  background-color: #fff;
  font-size: 16px;
  

  &:hover {
    background-color: #fff;
    border: 2px solid #89939A;
  }

  &:focus, :active {
    border-color: #89939A;
    
  }
  
  select {
    color: red;
  }
}

.custom-select {
  margin-top: 5px;
}