.Favourites_main {  
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat( 4, 1fr) ;
  grid-template-rows: 16px 24px minmax(41px,auto) 8px 21px 32px 1fr;
  grid-auto-flow: column; 
  column-gap: 16px;
  justify-content: center;
  padding: 24px 0 56px;

  @media (min-width: 640px) {
      grid-template-columns: repeat(12, 1fr); 
      grid-template-rows: 16px 40px minmax(56px,auto
      ) 8px 21px 40px 1fr;
      }
  
  @media (min-width: 1200px) {
    grid-template-columns: repeat(24, 32px); 
    grid-template-rows: 16px 40px minmax(56px,auto
    ) 8px 21px 40px 1fr;
    padding: 24px 0 80px;
    }
}

.Favourites_map {
  background-color: blue;
  height: 100%;
  box-sizing: border-box;
  grid-area: 1/1/2/4;

  @media (min-width: 640px) {
    grid-area: 1/1/2/4;
  }

  @media (min-width: 1200px) {
    grid-area: 1/1/2/4;
  }
}



.Favourites_title {
  background-color: red;
  min-height: 100%;
  box-sizing: border-box;
  grid-area: 3/1/4/5;
  
  @media (min-width: 640px) {
    grid-area: 3/1/4/13;
  }
  
  @media (min-width: 1200px) {
    grid-area: 3/1/4/25;
  }
  }

.Favourites_itemsCount {
  background-color: green;
  height: 100%;
  box-sizing: border-box;
  grid-area: 5/1/6/5;

  @media (min-width: 640px) {
    grid-area: 5/1/6/13;
  }

  @media (min-width: 1200px) {
    grid-area: 5/1/6/25;
  }
}


  .Favourites_itemList {
    background-color: rgb(22, 21, 22);
    height: 100%;
    box-sizing: border-box;
    grid-area: 7/1/8/5;
    
    @media (min-width: 640px) {
      grid-area: 7/1/8/13;
    }
    
    @media (min-width: 1200px) {
      grid-area: 7/1/8/25;
    }
  }


  