.cart {
  width: 1136px;
  margin: 24px auto 45px;
  flex:1;
}

.cart-nav {
  width: 66px;
  height: 16px;
  display: flex; /* Zmiana na display: flex */
}

.cart-nav-iconBox {
  width: 16px;
  height: 16px;
  justify-content: center;
  display: flex; /* Zmiana na display: flex */
}

.cart-nav-icon {
  height: 10px;
  width: 6px;
  margin: auto;
}

.cart-nav-link {
  text-decoration: none;
  line-height: 15px;
  font-weight: 700;
  font-size: 12px;
  color: #89939a;
  margin-left: 4px;
  margin-right: 15px;
  margin-top: 1px;
}

.cart-title-text {
  width: 100%;
  line-height: 56px;
  font-family: 800;
  font-size: 48px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.cart-contentBox {
  display: flex;
}

.cart-productCardsBox {
  width: 752px;
  margin-right: 16px;
  // border-radius: 16px;
  // border: 1px solid    #E2E6E9;
}

.cart-checkoutBox {
  width: 368px;
  height: 206px;
  border-radius: 16px;
  border: 1px solid #b4bdc3;
}

.cart-sumBox {
  width: 321px;
  height: 87px;
  border-bottom: solid 1px #e2e6e9;
  margin: 23px;
}

.cart-checkout-button {
  width: 320px;
  height: 48px;
  margin: 24px;
  margin-top: 0;
  border-radius: 8px;
  border: #216cff;
  background-color: #216cff;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 700;
  
  &:hover {
    cursor: pointer;
  }
}

.cart-message {
  text-decoration: none;
  margin-top: 20px;
  width: 100%;
  height: 60px;
  border-radius: 8px;
  border: 2px solid #27ae60;
  background-color: #27ae60;
  font-size: 14px;
  line-height: 60px;
  color: #ffffff;
  font-weight: 700;
  display: none;
  align-items: center;
  justify-content: center;
}

.message-active {
  display: block;
}

.cart-message-text {
  color: #ffffff;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: 641px) and (max-width: 1199px) {
  .cart {
    width: 592px;
    margin: 40px auto 64px;
  }

  .cart-contentBox {
    display: inline;
  }

  .cart-productCardsBox {
    width: 100%;
    margin-right: 0;
    margin-bottom: 32px;
  }

  .cart-checkoutBox {
    width: 100%;
    height: 190px;
    border-radius: 16px;
  }

  .cart-sumBox {
    width: 544px;
    height: 80px;
    margin: 23px;
    margin-bottom: 16px;
  }

  .cart-checkout-button {
    width: 544px;
  }
}

@media screen and (max-width: 639px) {
  .cart {
    width: 288px;
    margin: 24px auto 56px;
  }

  .cart-contentBox {
    display: inline;
  }

  .cart-productCardsBox {
    width: 100%;
    margin-right: 0;
    margin-bottom: 32px;
  }

  .cart-checkoutBox {
    width: 100%;
    height: 190px;
  }

  .cart-sumBox {
    width: 240px;
    height: 78px;
    margin: 24px;
    margin-bottom: 16px;
  }

  .cart-checkout-button {
    width: 240px;
  }
}
