.header {
  display: flex;
  align-items: flex-start;
  background-color: white;
  border-bottom: 1px solid #e2e6e9
}



.header__logo {
  width: 80px;
  height: 28px;
  margin: 24px auto;
  &-box {
    width: 128px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header__icon {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  &-link {
    padding: auto;
  }
}

.header__icon-box {
  width: 64px;
  height: 64px;
display: flex;
align-items: center;
justify-content: center;
  border-left: 1px solid #e2e6e9;
}

.header__icon-box:first-child {
  margin-left: auto;
}


.header__icon-box:last-child {
  display: none;
}

.header__cart {
  width: 28px;
  height: 28px;
  display: grid;

  align-items: center;
  justify-content: center;
  position: relative; 
}

.header__counter {
  position: absolute; 
  z-index: 1; 
  top: 0; 
  right: 0; 
  background-color: #f447af;
  color: white;
  font-size: 9px;
  width: 14px; 
  height: 14px; 
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__cart-img {
  max-width: 100%;
  max-height: 100%; 
}


.nav {
  margin: auto;
  padding: 0;
  &__list {
    padding: 0 24px;
    padding-left: 0;
    display: flex;
    margin: 0;
    list-style: none;
  }
  &__link {
    color: #89939a;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 64px;
    display: inline-block;
    &:hover {
      color: #0f0f11;
    }
  }
  &__item:not(:last-child) {
    margin-right: 64px;
  }
}


.is-active {
  color: #0f0f11;
  position: relative;
  &::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background-color: #0f0f11;
    border-radius: 8px;
  }
}

.active-icon {
  border-bottom: #0f0f11 solid 2px;
}


@media (min-width: 550px) and (max-width: 1024px) {
  body {
    height: 48px;
    font-weight: 700;
  }


  .header__logo {
    width: 64px;
    height: 22px;
    margin: 16px 13px;
    &-box {
      width: 96px;
      height: 48px;
    }
  }
  .header__icon-box {
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #e2e6e9;
    &:first-child {
      margin-left: auto;
    }
  }

  .nav {
    margin-left: 16px;
    margin-right: 16px;
    padding: 0;
    &__list {
      padding: 0 16px;
      padding-left: 0;
      display: flex;
      margin: 0;
      list-style: none;
    }
    &__link {
      line-height: 48px;
    }
    &__item:not(:last-child) {
      margin-right: 32px;
    }
  }
}

@media (max-width: 549px) {
  body {
    height: 48px;
  }



  .header__logo {
    width: 64px;
    height: 22px;
    margin: 16px 13px;
    &-box {
      width: 96px;
      height: 48px;
    }
  }
  .header__icon-box {
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #e2e6e9;
    display: none;
    &:first-child {
      margin-left: auto;
    }
    &:last-child {
      display: block;
    }
  }
  
  .header__icon-img {
    width: 16px;
    height: 16px;
    margin: 16px;
  }

  .nav {
    display: none;
  }
}
