/* BigPhoto.scss */

.bigPhoto {
  max-width: 442px;
  max-height: 442px;
  display: flex;
  justify-content: center; /* Wyśrodkowanie w poziomie */
  align-items: flex-start; /* Wyśrodkowanie w pionie */
  &-img {
    max-height: 100%;
    max-width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
