.accessories__main{
  width: 1260px;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 24px;
  height: 100%;
  box-sizing: border-box;
  flex: 1;

  @media (max-width: 1200px) {
    width: 100%;
  }
  
}


