// Colors

$accent-color: #216cff;
$accent-secondary-color: #F447AF;
$primary-color: #0F0F11;
$secondary-color: #89939A;
$ocons-color: #B4BDC3;
$elements-color: #E2E6E9;
$hoverBG-color: #FAFBFC;
$white-color: #ffffff;
$green-color: #27AE60;
$red-color: #EB5757;

// Desktop Typography Variables
$desktop-h1-size: 48px;
$desktop-h1-line-height: 56px;
$desktop-h1-letter-spacing: -0.01em;

$desktop-h2-size: 32px;
$desktop-h2-line-height: 41px;
$desktop-h2-letter-spacing: -0.01em;

$desktop-h3-size: 22px;
$desktop-h3-line-height: 31px;
$desktop-h3-letter-spacing: 0;

$desktop-h4-size: 20px;
$desktop-h4-line-height: 26px;
$desktop-h4-letter-spacing: 0;

$desktop-uppercase-size: 12px;
$desktop-uppercase-line-height: 11px;
$desktop-uppercase-letter-spacing: 0.04em;

$desktop-buttons-size: 14px;
$desktop-buttons-line-height: 21px;
$desktop-buttons-letter-spacing: 0;

$desktop-body-text-size: 14px;
$desktop-body-text-line-height: 21px;
$desktop-body-text-letter-spacing: 0;

$desktop-small-text-size: 12px;
$desktop-small-text-line-height: 15px;
$desktop-small-text-letter-spacing: 0;

// Mobile Typography Variables
$mobile-h1-size: 32px;
$mobile-h1-line-height: 41px;
$mobile-h1-letter-spacing: -0.01em;

$mobile-h2-size: 22px;
$mobile-h2-line-height: 31px;
$mobile-h2-letter-spacing: 0;

$mobile-h3-size: 20px;
$mobile-h3-line-height: 26px;
$mobile-h3-letter-spacing: 0;

$mobile-h4-size: 16px;
$mobile-h4-line-height: 20px;
$mobile-h4-letter-spacing: 0;
