$accent-color: #216cff;
$accent-secondary-color: #F447AF;
$primary-color: #0F0F11;
$secondary-color: #89939A;
$ocons-color: #B4BDC3;
$elements-color: #E2E6E9;
$hoverBG-color: #FAFBFC;
$white-color: #ffffff;
$green-color: #27AE60;
$red-color: #EB5757;