// ----------- VARIABLES ------------- //
$white: #ffffff;
$main-clr: #89939a;
$accent-clr: #313237;
$border-clr: #e2e6e9;

@mixin for-desktop() {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-tablet() {
  @media (min-width: 640px) and (max-width: 1199px) {
    @content;
  }
}

.Footer {
  // position: fixed;
  width: 100vw;
  bottom: 0;
  background-color: $white;
  box-sizing: border-box;
  border-top: 1px solid $border-clr;
  z-index: 10;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 1136px;
    margin: 0 auto;
    padding: 32px 16px;

    @include for-tablet() {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 32px 24px;
    }

    @include for-desktop() {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 32px;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include for-tablet() {
      flex-direction: row;
    }

    @include for-desktop() {
      flex-direction: row;
      align-items: center;
      gap: 100px;
      justify-content: space-between;
    }

    &--link {
      font-size: 12px;
      text-transform: uppercase;
      text-decoration: none;
      color: $main-clr;
      font-weight: 800;
      letter-spacing: 0.5px;

      &:hover {
        color: $accent-clr;
      }
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
    border: none;
    background-color: $white;
    cursor: pointer;

    @include for-tablet() {
      margin: 0;
    }

    @include for-desktop() {
      margin: 0;
    }

    &--text {
      color: $main-clr;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      transition: font-weight 0.35s ease-in;

      &:hover {
        font-weight: bold;
      }
    }

    &--icon {
      width: 16px;
      height: 16px;
      padding: 8px;
      border: 1px solid $main-clr;
      border-radius: 50%;
      background-image: url('../../images/chevroneUp.svg');
      background-repeat: no-repeat;
      background-position: 50%;
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.1);
        border: 1px solid $accent-clr;
      }
    }
  }
}
