.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  box-sizing: border-box;
  
}

.container {
  // rules to change
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  box-sizing: border-box;
  max-width: 100vw;
  max-width: 100vw;
}
