// COLORS
$Accent-color: #216cff;
$Accent-secondary-color: #F447AF;
$Primary-color: #0F0F11;
$Secondary-color: #89939A;
$Icons-color: #B4BDC3;
$Elements-color: #E2E6E9;
$HoverBG-color: #FAFBFC;
$White-color: #ffffff;
$Green-color: #27AE60;
$Red-color: #EB5757;
// TOPOGRAPHY