@import '../../../../../../../utils/variables.scss';

.favourites-button {
  width: 48px;
  height: 48px;
  background-color: transparent;
  border-radius: 40px;
  border: 1px solid $icons-color;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    border: 1px solid $primary-color;
  }
}
