@import './components/__sectionCategory';
@import '../../utils/variables.scss';


.Home_main {  
  background-color: #FAFBFC;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat( 4, 1fr) ;
    grid-template-rows: 458px 526px minmax(1208px, 1fr) 495px;
    row-gap: 56px;
    grid-auto-flow: column; 
    column-gap: 16px;
    justify-content: center;
    padding: 24px 16px 64px;
    box-sizing: border-box;

    @media (min-width: 640px) {
        grid-template-columns: repeat(12, 1fr); 
        grid-template-rows: 365px 577px minmax(327px, 1fr) 577px;
        row-gap: 64px;
        padding: 32px 24px 64px;
        }
    
    @media (min-width: 1200px) {
      grid-template-columns: repeat(24, 32px); 
      grid-template-rows: 544px 571px minmax(508px, 1fr) 571px;
      row-gap: 80px;
      padding: 56px 32px 80px;
      }
}

.Home_sectionWelcome {
  // background-color: blue;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  grid-area: 1/1/2/5;

  &-title {
    font-size: 48px;
  }

  @media (max-width: 640px) {
    margin-bottom: 40px;

    h1 {
      font-size: $mobile-h1-size;
      letter-spacing: $mobile-h1-letter-spacing;
    }
  }

  @media (min-width: 640px) {
    grid-area: 1/1/2/14;
  }

  @media (min-width: 1200px) {
    grid-area: 1/1/2/25;
  }
}





.Accessories__itemList {
  
  height: 100%;
  box-sizing: border-box;
  grid-area: 9/1/10/5;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  row-gap: 40px;
  column-gap: 16px;
  
  @media (min-width: 640px) {
    grid-area: 9/1/10/13;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }
  
  @media (min-width: 1200px) {
    grid-area: 9/1/10/25;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }
}







.slidcontainer {
  
  height: 100%;
  box-sizing: border-box;
  grid-area: 4/1/5/5;

 
  
  @media (min-width: 640px) {
    grid-area: 4/1/5/14;
    
  
  }

  @media (min-width: 1200px) {
    grid-area: 4/1/5/25;
    
  
  }
}

.slidecontainer2 {
  
  height: 100%;
  box-sizing: border-box;
  grid-area: 2/1/3/5;

  
  
  
  @media (min-width: 640px) {
      grid-area: 2/1/3/14;
    grid-template-rows: 1fr 512px;
  
  }

  @media (min-width: 1200px) {
    grid-area: 2/1/3/25;
    
  
  }
}